name: Builds

on:
  pull_request:
  push:
    branches:
      - "master"
    paths:
      - "**.nix"
      - ".github/workflows/*.yml"

jobs:
  determine-matrix:
    name: Figure out the packages we need to build
    runs-on: ubuntu-latest

    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v3

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Build PHP versions matrix
        id: set-matrix
        run: |
          echo "matrix=$(
            nix eval --json --impure --expr 'builtins.filter (x: builtins.substring 0 3 x == "php") (builtins.attrNames (import ./.).packages.x86_64-linux)'
          )" >> $GITHUB_OUTPUT

  build:
    name: "${{ matrix.packages }} on ${{ matrix.operating-system }}"
    needs: [determine-matrix]
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        packages: ${{fromJson(needs.determine-matrix.outputs.matrix)}}
        operating-system: [ubuntu-latest, macOS-latest]

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v3

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Run the Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - uses: cachix/cachix-action@v12
        with:
          name: nix-shell
          # If you chose API tokens for write access OR if you have a private cache
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          extraPullNames: fossar

      - name: Build ${{ matrix.packages }} binary
        run: |
          nix build .#${{ matrix.packages }}

      - name: Build ${{ matrix.packages }} environment
        run: |
          nix build .#env-${{ matrix.packages }}

      - name: Build XDebug extension
        continue-on-error: true
        run: |
          nix build .#${{ matrix.packages }}.extensions.xdebug

      - name: Build pcov extension
        continue-on-error: true
        run: |
          nix build .#${{ matrix.packages }}.extensions.pcov

      - name: Build oci8 extension
        continue-on-error: true
        run: |
          nix build .#${{ matrix.packages }}.extensions.oci8
